cat <<EOF > .gitignore
# Ignore Virtual Environments (The heavy stuff)
venv/
.venv/
env/
__pycache__/
*.pyc

# Ignore Build Artifacts
parts/
stage/
prime/
*.snap
.snapcraft/

# Ignore Local App State
state.json
dropshelf_backup_v1.zip
main_backup_v1.py
EOF
