[Desktop Entry]
Name=DropShelf
Comment=Temporary file collector
Exec=dropshelf
Icon=dropshelf
Type=Application
Terminal=false
Categories=Utility;GTK;
Keywords=drag;drop;shelf;
StartupNotify=true
